<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="dialect"  >org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="javax.persistence.jdbc.driver"  >org.sqlite.JDBC</property>
        <property name="javax.persistence.jdbc.user"></property>
        <property name="javax.persistence.jdbc.password"></property>
        <property name="connection.url">jdbc:sqlite:src/main/resources/db/app.db</property>
        <property name="hibernate.show_sql" >false</property>
        <property name="format_sql">true</property>
        <property name="hibernate.connection.charSet"  >UTF-8</property>
        <property name="connection.pool_size">4</property>
<!--        <property name="hibernate.hbm2ddl.auto" >update</property>-->
        <property name="hibernate.generate_statistics">false</property>
        <property name="hibernate.connection.foreign_keys">true</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">1</property>
        <mapping class="com.ptn.geesetool.model.ImageInfo"/>
        <mapping class="com.ptn.geesetool.model.TypeCrawl"/>
    </session-factory>
</hibernate-configuration>